<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-10">
      <h1>Product List</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center" style="width:8%;">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Price</th>
            <th class="text-center" style="width:13%;">Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsArray">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td class="text-right">{{ product.price | currency:'USD':true:'1.0-2' }}</td>
            <td>
              <button class="btn btn-info" style="margin-right:5px;" (click)="showEditProductForm(product)">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger" (click)="removeProduct(product)">
                <i class="fa fa-minus"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-success" (click)="showAddProductForm()">
        <i class="fa fa-plus"></i>
      </button>
      <br />
      <br />
     
      <form *ngIf="productForm" class="modal-style">
        <h3>Add New Product</h3>
            <div class="row">
              <div class="col-md-5">
                <p>Name:
                </p>
              </div>
              <div class="col-md-7">
                <p>
                  <input type="text" name="name" [(ngModel)]="newProduct.name" />
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p>Description:
                </p>
              </div>
              <div class="col-md-7">
                <p>
                  <input type="text" name="description" [(ngModel)]="newProduct.description" />
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p>Price:
                </p>
              </div>
              <div class="col-md-7">
                <p>
                  <input myNumberOnly type="text" name="price" [(ngModel)]="newProduct.price" />
                </p>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-primary" (click)="saveProduct(newProduct)">Submit</button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-warning" (click)="cancelNewProduct()">Cancel</button>
              </div>
            </div>    
      </form>

      <form *ngIf="editProductForm" class="modal-style">
        <h3>Edit Product Details</h3>
        <div class="row">
          <div class="col-md-5">
            <p>ID:
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <input readonly type="text" name="id" [(ngModel)]="editedProduct.id" />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>Name:
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <input type="text" name="name" [(ngModel)]="editedProduct.name" />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>Description:
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <input type="text" name="description" [(ngModel)]="editedProduct.description" />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>Price:
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <input myNumberOnly type="text" name="price" [(ngModel)]="editedProduct.price" />
            </p>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="updateProduct(editedProduct)">Submit</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-2">
    </div>

  </div>
</div>