/* You can add global styles to this file, and also import other style files */

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css';

.modal-style{
    position: fixed; 
    background-color: #999; 
    padding:20px; 
    left: 50%;
    transform: translateX(-50%);
    top:10%;
    width: 400px;
}


